[user]
	name = Fabio C. Barrioneuvo da Luz
	email = bnafta@gmail.com
[url "https://"]
	insteadOf = git://

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)(%an <%ae>)%Creset' --abbrev-commit --date=relative
